.main-layout {
  min-height: 100vh;

  $sider-trigger-height: 48px;
  $sider-height: calc(100vh - #{$sider-trigger-height} - 1px);

  .main-layout-sider {
    padding-top: $header-height;
    position: fixed;
    top: 0;
    z-index: 999;
    height: $sider-height;
  }

  .sub-main-layout {
    padding-top: $header-height;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.2s;
  }

  .sub-main-layout-header {
    padding: 0 16px;
    height: $header-height;
    background: #ffb000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .sub-main-layout-content {
    padding-top: 10px;
  }

  .ant-menu.ant-menu-root {
    height: $sider-height;
  }

  .ant-layout-sider-trigger {
    background-color: #fff;
    border-top: 1px solid #f0f2f5;
    svg {
      color: #000;
    }
  }
}
