.main-header {
  line-height: 1.5;
  height: $header-height;
  display: flex;
  align-items: center;

  &-logo {
    height: calc(#{$header-height}* 0.8);
    display: flex;
    align-items: center;

    img {
      height: 100%;
    }

    &-text {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #fff;
      line-height: 50px;
    }
  }
}
