.suspense-fallback {
  @include flex(center, center);
}

.common-filter {
  .ant-form-item-control-input-content > * {
    width: 100%;
  }
}

// <COMPONENT FILTER CARD>
.filter-card {
  transition: max-height 0.4s;
  max-height: 500px;
}

.filter-card-small {
  max-height: 60px;
  overflow: hidden;
}
// </COMPONENT FILTER CARD>
