.suspense-fallback {
  @include flex(center, center);
}

.common-filter {
  .ant-form-item-control-input-content > * {
    width: 100%;
  }
}

// <COMPONENT FILTER CARD>
.filter-card {
  transition: max-height 0.4s;
  max-height: 500px;
}

.filter-card-small {
  max-height: 60px;
  overflow: hidden;
}
// </COMPONENT FILTER CARD>

// <COMPONENT MAIN LAYOUT>
.main-layout {
  min-height: 100vh;

  $sider-trigger-height: 48px;
  $sider-height: calc(100vh - #{$sider-trigger-height} - 1px);

  .main-layout-sider {
    padding-top: $header-height;
    position: fixed;
    top: 0;
    z-index: 999;
    height: $sider-height;
  }

  .sub-main-layout {
    padding-top: $header-height;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.2s;
  }

  .sub-main-layout-header {
    background: #f9652a;
    padding: 0 16px;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .sub-main-layout-content {
    padding-top: 10px;
  }

  .ant-menu.ant-menu-root {
    height: $sider-height;
  }

  .ant-layout-sider-trigger {
    background-color: #fff;
    border-top: 1px solid #f0f2f5;
    svg {
      color: #000;
    }
  }
}
// </COMPONENT MAIN LAYOUT>

// <COMPONENT MAIN HEADER>
.main-header {
  line-height: 1.5;
  height: $header-height;
  display: flex;
  align-items: center;

  &-logo {
    height: calc(#{$header-height}* 0.8);
    display: flex;
    align-items: center;

    img {
      height: 100%;
    }

    &-text {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #fff;
      line-height: 50px;
    }
  }
}
// </COMPONENT MAIN HEADER>
