.suspense-fallback {
  @include flex(center, center);
}

.common-filter {
  .ant-form-item-control-input-content > * {
    width: 100%;
  }
}

// <COMPONENT FILTER CARD>
.filter-card {
  transition: max-height 0.05s;
  max-height: 500px;
}

.filter-card-small {
  max-height: 49px;
  overflow: hidden;
}
// </COMPONENT FILTER CARD>

// <COMPONENT MAIN LAYOUT>
.main-layout {
  min-height: 100vh;
  $sider-trigger-height: 48px;
  $sider-height: calc(100vh - #{$sider-trigger-height} - 1px);

  .main-layout-sider {
    padding-top: $header-height;
    position: fixed;
    top: 0;
    z-index: 999;
    height: $sider-height;
  }

  .sub-main-layout {
    padding-top: $header-height;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.2s;
  }

  .sub-main-layout-header {
    background-color: #e67e22;
    padding: 0 16px;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .sub-main-layout-content {
    padding-top: 10px;
  }

  .ant-menu.ant-menu-root {
    height: $sider-height;
  }

  .ant-layout-sider-trigger {
    background-color: #fff;
    border-top: 1px solid #f0f2f5;
    svg {
      color: #000;
    }
  }

  .ant-layout-footer {
    padding: 10px 50px;
    color: #767676;
  }
}
// </COMPONENT MAIN LAYOUT>

// <COMPONENT MAIN HEADER>
.main-header {
  line-height: 1.5;
  height: $header-height;
  display: flex;
  align-items: center;

  &-logo {
    height: calc(#{$header-height}* 0.8);
    display: flex;
    align-items: center;
    user-select: none;

    img {
      height: 100%;
      margin-right: 5px;
    }

    &-text {
      font-size: 25px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 50px;
      color: #f5f5f5;
    }
  }
}
// </COMPONENT MAIN HEADER>

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/login-bg.png');
  background-size: 228px 228px;

  & > form {
    background-color: #fff;
    max-width: 512px;
    margin: 0px auto 28px auto;
    padding: 62.12px 99px 48px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: left;
  }
}

.common-breadcrumb {
  font-size: 16px;
}
